/*Estilos Bienvenida*/
.cat img {
  margin-top: 70px;
  width: 250px;
  height: auto;
}

.cat h1 {
  font-size: 33px;
  font-weight: bold;
  color: #73706f;
}

.btn {
  background-color: #f98206;
  color: #fff;
  font-weight: bold;
}

.btn:hover {
  background-color: #f98206;
  color: #fff;
  font-weight: bold;
}

/*Estilos innerHTML*/
#play h1 {
  color: #61605e;

  padding-top: 100px;
  font-weight: bold;
}

#play p {
  color: #73706f;
  font-size: 20px;
  padding: 10px;
}

#falso, #verdadero {
  background-color: #61605e;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
}

/*Centrar navbar*/
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

/*Estilos navbar*/
.navbarTop {
  background-color: #e4e3e1;
  /*border-bottom: 1px solid grey;*/
  height: 70px;
}

.navbarTop li a {
  margin-top: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.navbarBottom {
  background-color: #f9600c;
  height: 70px;
}

.navbarBottom p, .navbarBottom i {
  margin-top: 5px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

.navbarBottom i {
  font-size: 20px;
}
